body {  
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.hidden {
    display: none;
}

.generatore {
    text-align: center;
    margin-top: 50px;
    background-color: salmon;
    background-size: cover;
    background-repeat: no-repeat;
    width: 650px;
    border-radius: 20px;
    height: 200px;
}

.biglietto {
    text-align: center;
    margin-top: 50px;
    background-color: salmon;
    border-radius: 20px;
    background-size: cover;
    width: 600px;
    height: 200px;
}

.ticket {
    display: flex;
    gap: 2em;
    justify-content: space-around;
    margin-top: 40px;
}

.biglietto-nome {
    background-color: white;
}

.biglietto-km {
    background-color: white;
}

.biglietto-prezzo {
    background-color: white;
}
